# Environment Configuration Template
# Copy ke .env dan isi dengan nilai yang sesuai

# Node Environment
NODE_ENV=development
PORT=3000

# ================================
# DATABASE CONFIGURATION
# ================================
DB_HOST=pg-a73a976-adopt-house.l.aivencloud.com
DB_PORT=15729
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASSWORD=AVNS_6EOrX4cble8XsYZQU5y

# ================================
# JWT CONFIGURATION
# ================================
JWT_SECRET=HS384
JWT_EXPIRE=7d

# ================================
# AWS S3 CONFIGURATION
# ================================
AWS_ACCESS_KEY_ID=AKIA5H2IQNS7ZM6WFEHH
AWS_SECRET_ACCESS_KEY=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
AWS_S3_BUCKET_NAME=arn:aws:s3:::adopt-house-storage
AWS_S3_REGION=ap-southeast-1
AWS_S3_URL=https://adopt-house-storage.s3.ap-southeast-1.amazonaws.com/pictures/

# ================================
# APPLICATION CONFIGURATION
# ================================
# CORS_ORIGIN=http://localhost:3000
# LOG_LEVEL=debug
